ThesisPhD/Thesis_PhD.aux
ThesisPhD/Thesis_PhD.bbl
ThesisPhD/Thesis_PhD.blg
ThesisPhD/Thesis_PhD.lof
ThesisPhD/Thesis_PhD.log
ThesisPhD/Thesis_PhD.lot
ThesisPhD/Thesis_PhD.out
ThesisPhD/Thesis_PhD.pdf
ThesisPhD/Thesis_PhD.toc
